/* _-_-_- layout/LAYOUT -_-_-_ */
body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
}
main{
  flex: 1;
}
.container {
    max-width: $max-width;
    margin-left: auto;
    margin-right: auto;
    padding-left: 20rem;
    padding-right: 20rem;
    width: 100%;
    @include respond-to("large") {
      padding-left: 5rem;
      padding-right: 5rem;
    }
    @include respond-to("medium"){
      padding-left: 2rem;
      padding-right: 2rem;
      position: relative;
    }
    @include respond-to("mobile"){
      padding-left: 1rem;
      padding-right: 1rem;
    }

    .page, .total, .title, .title {
      text-align: center;
      font-size: 1.5em;
      font-weight: bold;
    }
}
