/* _-_-_- layout/MAIN -_-_-_ */
.main{
    display: flex;
    flex-direction: column;
    background-color: darkslategray;
}

.hidden {
    display: none;
}

.page, .total, .title, .title {
    text-align: center;
    font-size: 1.5em;
    font-weight: bold;
}
