/* _-_-_- layout/MAIN -_-_-_ */
.main{
    display: flex;
    flex-direction: column;
    background-color: darkslategray;
}

.hidden {
    display: none;
}

.page, .total, .title, .title {
    text-align: center;
    font-size: 1.5em;
    font-weight: bold;
}

table {
    margin: 2em auto;
}

thead th {
    font-weight: bold;
    background: #1d1f20;
}

tr {
    background: #506969;
    border-bottom: 1px solid #FFF;
    margin-bottom: 0.1em;
}

th, td {
    text-align: center;
    padding: 0 0.3em;
}

.pointer.active.DESC::after {
    content: "▲";
}
  
.pointer.active.ASC::after {
    content: "▼";
}