<section class="product">
    <div class="container">
        <div class="filters">
            <div class="filters__btns">
                <button class="filters__reset-btn">Reset filters</button>
                <button class="filters__copyLink-btn">Copy link!</button>
            </div>
            <div class="filters__category _filters" filtername="category">
                <h3 class="filters__title">Category</h3>
                <div class="filters__list"></div>
            </div>
            <div class="filters__brand _filters" filtername="brand">
                <h3 class="filters__title">Brand</h3>
                <div class="filters__list"></div>
            </div>
            <div class="filters__price _filters" filtername="price">
                <h3 class="filters__title">Price</h3>
                <div class="range_container">
                    <div class="form_control">
                        <div class="form_control_container">
                            <span>$</span>
                            <span id="fromInput">0</span>
                        </div>
                        <div class="form_control_container">
                            <span>$</span>
                            <span id="toInput">1749</span>
                        </div>
                    </div>
                    <div class="sliders_control">
                        <input
                            id="fromSlider"
                            type="range"
                            value="0"
                            min="0"
                            max="1749"
                        />
                        <input
                            id="toSlider"
                            type="range"
                            value="1749"
                            min="0"
                            max="1749"
                        />
                    </div>
                </div>
            </div>
            <div class="filters__stock _filters" filtername="stock">
                <h3 class="filters__title">Stock</h3>
                <div class="range_container">
                    <div class="form_control">
                        <div class="form_control_container">
                            <span id="fromInputStock">0</span>
                        </div>
                        <div class="form_control_container">
                            <span id="toInputStock">150</span>
                        </div>
                    </div>
                    <div class="sliders_control">
                        <input
                            id="fromSliderStock"
                            type="range"
                            value="0"
                            min="0"
                            max="150"
                        />
                        <input
                            id="toSliderStock"
                            type="range"
                            value="150"
                            min="0"
                            max="150"
                        />
                    </div>
                </div>
            </div>
        </div>
        <div class="products">
            <div class="sort-products">
                <div class="sort-bar">
                    <select id="sortBar">
                        <option value="sort-title" disabled="" selected="">
                            Sort options:
                        </option>
                        <option value="price-ASC">Sort by price ASC</option>
                        <option value="price-DESC">Sort by price DESC</option>
                        <option value="rating-ASC">Sort by rating ASC</option>
                        <option value="rating-DESC">Sort by rating DESC</option>
                        <option value="discount-ASC">
                            Sort by discount ASC
                        </option>
                        <option value="discount-DESC">
                            Sort by discount DESC
                        </option>
                    </select>
                </div>
                <div class="stat">Found:</div>
                <div class="search-bar">
                    <input type="search" placeholder="Search product" />
                </div>
                <div class="view-mode">
                    <div class="view-mode__small">S</div>
                    <div class="view-mode__big">L</div>
                </div>
            </div>
            <div class="products__items"></div>
        </div>
    </div>
</section>
